{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{{result}}

 <div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			
			<h1 class="text-center">Get Your Bike</h1>
			<h2 class="text-center">Prévisions des Velov</h2>
		</div>
		<div class="modal-body">
		
			<form id='formulaire' action="{% url 'search.views.home' %}" method="post" >
				{% csrf_token %}
				{{ form.as_p }}
				
				<!--login modal-->

			</form>
			<div class="form-group">
					<button class="btn btn-primary btn-lg btn-block" onclick="prevision()">Valider</button>	
			</div>
		</div>
		<div id='test'>
			
		</div>
	</div>
</div>
				         
        

{% endblock %}