{% extends "base.html" %}
{% load staticfiles %}
{% block content %}

            {{result}}
            <br/>
            <br/>


            <form action="{% url "search.views.home" %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit" />
            </form>

           <!-- Table des résultats de la recherche -->
            <p>Les r&eacute;sultats affich&eacute;s ici sont statiques : </p>
            <table align="center" border="1" width="80%">
                <tr>
                    <td>
                        <b>Nom de la station</b>
                    </td>
                    <td>
                        <b>Nombre de v&eacute;lo</b>
                    </td>
                </tr>
                <tr>
                    <td>
                        Charpennes
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        Republique
                    </td>
                    <td>
                        5
                    </td>
                </tr>
                <tr>
                    <td>
                        Lyc&eacute;e du Parc
                    </td>
                    <td>
                        10
                    </td>
                </tr>
                <tr>
                    <td>
                        Bellecombe
                    </td>
                    <td>
                        8
                    </td>
                </tr>
            </table>
        </div>

{% endblock %}